<ol class="breadcrumb">
  <li>{{translate 'Miscellaneous'}}</li>
  <li>{{translate 'Enumerations'}}</li>
</ol>

{{> index-misc list=miscellaneous.enumerations}}

{{#each miscellaneous.groupedEnumerations}}
    <h3>{{@key}}</h3>
    {{> block-enum enums=this title='false'}}
{{/each}}
