<ol class="breadcrumb">
  <li>{{translate 'Miscellaneous'}}</li>
  <li>{{translate 'Variables'}}</li>
</ol>

{{> index-misc list=miscellaneous.variables}}

{{#each miscellaneous.groupedVariables}}
    <h3>{{@key}}</h3>
    {{> block-property properties=this title=''}}
{{/each}}
